@mixin register{

  #id-body-register{

    .class-input-group{
      margin: 5px 0px 10px 0px;

      .class-input-group-title{
        margin: 0px 0px 5px 0px;
      }

      .class-input-group-input{
        box-sizing: border-box;
        width: 100%;
      }
    }

    #id-link-login{
      color: rgb(0, 0, 238);
      text-decoration: none;
    }

    #id-button-register{
      float: right;
    }
  }
}